.cesium-3d-map-tree .el-tree-node__content:hover,
.cesium-3d-map-tree .el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
  background-color: var(--darkBackgroundColorHover) !important;
}
.cesium-3d-map-tree .el-tree-node:focus > .el-tree-node__content {
  background-color: transparent !important;
}

.cesium-3d-map-tree .el-tree,
.cesium-3d-map-tree .is-focusable {
  background-color: var(--darkBackgroundColor) !important;
}

.cesium-3d-map-tree .el-tree-node__label,
.cesium-3d-map-tree .el-tree-node__expand-icon {
  color: var(--darkTextColor) !important;
}

.cesium-3d-map-tree .el-checkbox__inner {
  background-color: var(--darkBackgroundColor) !important;
  border-color: var(--darkBorderColor) !important;
}

.cesium-3d-map-tree .el-checkbox__inner::after {
  border-color: var(--darkTextColor) !important;
}

.cesium-3d-map-tree .el-checkbox__input.is-indeterminate .el-checkbox__inner::before {
  background-color: var(--darkTextColor) !important;
}

/* 只容许叶子结点有多选框 */
.cesium-3d-map-tree .el-tree-node .is-leaf + .el-checkbox .el-checkbox__inner {
  display: inline-block;
}

/* 只容许叶子结点有多选框 */
.cesium-3d-map-tree .el-tree-node .el-checkbox .el-checkbox__inner {
  display: none;
}
