.cesium-3d-map-radio .el-radio__label {
  font-size: calc((0.833 + var(--addFontSize)) * var(--unit)) !important;
}
.cesium-3d-map-radio .el-radio {
  margin-top: 0.5vw !important;
  color: var(--darkTextColor);
}
.cesium-3d-map-radio .el-radio__input.is-checked + .el-radio__label {
  color: var(--darkTextColor);
}
.cesium-3d-map-radio .el-radio__input.is-checked .el-radio__inner {
  border-color: var(--darkBorderColor);
  background: var(--darkBackgroundColorHover);
}
