/* el-select 选择器 深色
   使用：
   父级class添加,popper-class添加cesium-3d-map-select-son，Popper-append-to-body设置未false
   如：
   <div class="cesium-3d-map-select-father">
        <el-select popper-class="cesium-3d-map-select-son" :Popper-append-to-body="false"></el-select>
   </div>
*/
.cesium-3d-map-select-son {
  background-color: var(--darkBackgroundColor) !important;
  border: 1px solid var(--darkBorderColor) !important;
  min-width: calc((4.79980208 + var(--addFontSize)) * var(--unit)) !important;
  top: calc((7.03125 + var(--addFontSize)) * var(--unit)) !important;
  margin-top: calc((0.625 + var(--addFontSize)) * var(--unit)) !important;
  border-radius: calc((0.20833333 + var(--addFontSize)) * var(--unit)) !important;
  box-shadow: 0 calc((0.10416667 + var(--addFontSize)) * var(--unit))
    calc((0.625 + var(--addFontSize)) * var(--unit)) 0 rgb(0 0 0 / 10%) !important;
}

.cesium-3d-map-select-son .el-select-dropdown__wrap {
  max-height: calc((14.27083333 + var(--addFontSize)) * var(--unit)) !important;
  margin-bottom: calc(-1 * (1.09375 + var(--addFontSize)) * var(--unit)) !important;
  margin-right: calc(-1 * (1.09375 + var(--addFontSize)) * var(--unit)) !important;
}

.cesium-3d-map-select-son .el-select-dropdown__list {
  padding: calc((0.3125 + var(--addFontSize)) * var(--unit)) 0 !important;
}

.cesium-3d-map-select-son .el-select-dropdown__item {
  font-size: calc((0.72916667 + var(--addFontSize)) * var(--unit)) !important;
  padding: 0 calc((1.04166667 + var(--addFontSize)) * var(--unit)) !important;
  height: calc((1.77083333 + var(--addFontSize)) * var(--unit)) !important;
  line-height: calc((1.77083333 + var(--addFontSize)) * var(--unit)) !important;
}

.cesium-3d-map-select-son .el-scrollbar__bar.is-horizontal {
  height: calc((0.3125 + var(--addFontSize)) * var(--unit)) !important;
  left: calc((0.10416667 + var(--addFontSize)) * var(--unit)) !important;
}

.cesium-3d-map-select-son .el-scrollbar__bar.is-vertical {
  width: calc((0.3125 + var(--addFontSize)) * var(--unit)) !important;
  top: calc((0.10416667 + var(--addFontSize)) * var(--unit)) !important;
}

.cesium-3d-map-select-son .el-scrollbar__bar {
  right: calc((0.10416667 + var(--addFontSize)) * var(--unit)) !important;
  bottom: calc((0.10416667 + var(--addFontSize)) * var(--unit)) !important;
  border-radius: calc((0.20833333 + var(--addFontSize)) * var(--unit)) !important;
}

.cesium-3d-map-select-son .popper__arrow {
  left: calc((1.82291667 + var(--addFontSize)) * var(--unit)) !important;
  top: calc(-1 * (0.85 + var(--addFontSize)) * var(--unit)) !important;
  margin-right: calc((0.15625 + var(--addFontSize)) * var(--unit)) !important;
  border-width: calc((0.3125 + var(--addFontSize)) * var(--unit)) !important;
  filter: drop-shadow(
    0 calc((0.10416667 + var(--addFontSize)) * var(--unit))
      calc((0.625 + var(--addFontSize)) * var(--unit)) rgba(0, 0, 0, 0.03)
  ) !important;
}

.cesium-3d-map-select-son .el-select-dropdown__empty {
  color: var(--darkTextColor) !important;
  padding: calc((0.52083333 + var(--addFontSize)) * var(--unit)) 0 !important;
  font-size: calc((0.72916667 + var(--addFontSize)) * var(--unit)) !important;
}

.cesium-3d-map-select-son .el-select-dropdown__item {
  color: var(--darkTextColor) !important;
}

.cesium-3d-map-select-son .el-select-dropdown__item.hover,
.cesium-3d-map-select-son .el-select-dropdown__item:hover {
  background-color: var(--darkBackgroundColorHover) !important;
}

.cesium-3d-map-select-father .el-input {
  font-size: calc((0.72916667 + var(--addFontSize)) * var(--unit)) !important;
}

.cesium-3d-map-select-father .el-input__inner {
  border-color: var(--darkBorderColor) !important;
  background-color: var(--darkBackgroundColor) !important;
  color: var(--darkTextColor) !important;
  border-radius: calc((0.20833333 + var(--addFontSize)) * var(--unit)) !important;
  height: calc((2.08333333 + var(--addFontSize)) * var(--unit)) !important;
  line-height: calc((2.08333333 + var(--addFontSize)) * var(--unit)) !important;
  padding: 0 calc((0.78125 + var(--addFontSize)) * var(--unit)) !important;
}

.cesium-3d-map-select-father .el-input__suffix {
  right: calc((0.26041667 + var(--addFontSize)) * var(--unit)) !important;
}

.cesium-3d-map-select-father .el-select .el-input .el-select__caret {
  color: var(--darkTextColor);
  font-size: calc((0.72916667 + var(--addFontSize)) * var(--unit)) !important;
}

.cesium-3d-map-select-father .el-input__icon {
  width: calc((1.30208333 + var(--addFontSize)) * var(--unit)) !important;
  line-height: calc((2.08333333 + var(--addFontSize)) * var(--unit)) !important;
}

.cesium-3d-map-select-father .el-select-dropdown {
  margin: calc((0.26041667 + var(--addFontSize)) * var(--unit)) !important;
}
